<!DOCTYPE html>
<html lang="en" ng-app="mdb">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>MovieHub</title>
  <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>

<body ng-controller="MainCtrl">

<div id="wrapper" ng-cloak ng-class="{active: sidebar}" ng-swipe-left="{active: true}" ng-swipe-right="{active: false}">

  <!-- topbar -->
  <div class="topbar">

    <div class="row">
      <div class="topbar-content">

        <a href="" id="menu-toggle" ng-click="sidebar=!sidebar" class="btn btn-primary pull-left" title="Show Sidebar"><i class="fa fa-bars"></i></a>

        <nav class="icon-nav pull-right">
          <ul>
            <li><a href="#" class="fa fa-fw fa-globe"><span class="sr-only">Notifications</span></a></li>
            <li><a href="#" class="fa fa-fw fa-comments"><span class="sr-only">Messages</span></a></li>
          </ul>
        </nav>
        <a class="btn btn-primary pull-right" ui-sref="movies.review">
          <i class="fa fa-pencil-square-o"></i> <span class="hide-sm">New Review</span>
        </a>

        <div class="col-xs-7">
          <input class="form-control" type="search" placeholder="Search for movies, users or hubs" ng-model="search" options="exampleOptions" datasets="exampleData" sfTypeahead>
        </div>
      </div>
    </div>
  </div>
  <!-- Sidebar -->
  <div id="sidebar-wrapper">

    <div class="topbar-title"><img src="<%= current_user.image %>" alt="" class="pull-left"> <%= current_user.name %></div>

    <ul class="sidebar-nav">
      <li><a href="#/"><i class="fa fa-fw fa-lg fa-home"></i> <span>Dashboard</span></a></li>
      <li><a href="#/movies"><i class="fa fa-fw fa-lg fa-film"></i> <span>Movies</span></a></li>
      <li><a href="#/hubs"><i class="fa fa-fw fa-lg fa-group"></i> <span>Hubs</span></a>
        <ul>
          <li ng-repeat="hub in hubs"><a ng-href="#/hubs/{{hub.id}}">{{hub.name}} <span class="badge pull-right" ng-if="hub.notifications > 0">{{hub.notifications}}</span></a></li>
        </ul> <!--<a ng-href="#/hubs/{{slug(hub.name)}}">-->
      </li>
      <li><a href="" ng-click="popup('todo')"><i class="fa fa-fw fa-lg fa-eye"></i> <span>Watchlist</span></a></li>
      <li><a href="" ng-click="popup('todo')"><i class="fa fa-fw fa-lg fa-comments"></i> <span>Discussions</span></a></li>
      <li><a href="#/profile"><i class="fa fa-info"></i> Profile</a></li>
      <li><a href="<%= signout_path %>"><i class='fa fa-sign-out'></i> Logout</a></li>
    </ul>
  </div>


  <!-- Page content -->
  <div id="page-content-wrapper">
    <div class="page-content inset dn-fade-left" ui-view>
      <%= yield %>
    </div>

  </div>

</div>

<!-- notification container -->
<div growl></div>

<script>

    window.addEventListener('load', function() {
        FastClick.attach(document.body);
    }, false);

    $("#page-content-wrapper").click(function (e) {
        if($("#wrapper").hasClass("active")) {
            $("#wrapper").removeClass("active");
            return false;
        }
    });
</script>

</body></html>